* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, #000066 0%, #cc3399 100%);
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.result {
    margin-bottom: 20px;
}

#password {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

button {
    background-color: #cc3399;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

}

button:hover {
    background-color: #cc3399;
}

.option {
    margin: 10px 0;
}

input[type="checkbox"] {
    margin-left: 10px;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-left: 10px;
}

#copy-btn {
    background-color: #000066;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

#copy-btn:hover {
    background-color: #f39c12;
}
